
.Header {
    color: black;
    padding: 1em;
}

.Header-container {
    margin: 0 auto;
    padding: 20px 0;
}

.Header-brand {
    text-decoration: none;
    font-size: 1.75em; /* ~28px */
}
.Header-brandImg {
    height: 50px;
}


.Header-brandTxt {
    font-size: 50px;
    display: inline-block;
    margin-left: 0.5em;
}
