@import'../node_modules/normalize.css/normalize';
/*
 * Colors
 **/


$white-base:     hsl(255, 255, 255);
$gray-darker:    #222; 
$gray-dark:      #404040;
$gray:           #555 ;
$gray-light:     #777 ;
$gray-lighter:   #eee ;
$error-bg:       pink ;
$error:          red ;
$success-bg:     lightgreen ;
$success:        green ;
$sky-bg:         #b3d4fc;

/*
 * Typography
 *
 **/
$font-family-base:    HelveticaNeue-Light, sans-serif;

/*
 * Layout
 *
 **/

$max-content-width:     1000px;

/*
 * Media queries breakpoints
 *
 **/


$screen-xs-min:  480px;  /* Extra small screen / phone */
$screen-sm-min:  768px;  /* Small screen / tablet */
$screen-md-min:  992px;  /* Medium screen / desktop */
$screen-lg-min:  1200px; /* Large screen / wide desktop */

/*
 * Animations
 *
 **/

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;


/*
 * Base styles
 *
 * */


html {
    color: $gray-darker;
    font-weight: 100;
    font-size: 1em; /* ~16px; */
    font-family: $font-family-base;
    line-height: 1.375; /* ~22px */
}

::-moz-selection {
    background: $sky-bg;
    text-shadow: none;
}

::selection {
    background: $sky-bg;
    text-shadow: none;
}

.container {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: var(--max-content-width);
}
.tally-container{
    padding: 1em;
}

.error {
    padding: 1em;
    color:$error;
    background-color: $error-bg;
}

.success {
    padding: 1em;
    color:$success;
    background-color: $success-bg;
}
