@import'../node_modules/normalize.css/normalize';
/*
 * Colors
 * ======================================================================== */

$white-base:           hsl(255, 255, 255);
$gray-darker:          #222; 
$gray-dark:            #404040;
$gray:                 #555 ;
$gray-light:           #777 ;
$gray-lighter:         #eee ;

/*
 * Typography
 * ======================================================================== */

$font-family-base:    HelveticaNeue-Light, sans-serif;

/*
 * Layout
 * ======================================================================== */

$max-content-width:     1000px;

/*
 * Media queries breakpoints
 * ======================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ======================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;


/*
 * Base styles
 * ========================================================================== */

html {
    color: #222;
    font-weight: 100;
    font-size: 1em; /* ~16px; */
    font-family: $font-family-base;
    line-height: 1.375; /* ~22px */
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.container {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: var(--max-content-width);
}
.tally-container{
    padding: 1em;
}

.error {
    padding: 1em;
    color:red;
    background-color: pink;
}

.success {
    padding: 1em;
    color:green;
    background-color: lightgreen;
}
